.cabecalho {
    align-items: center;
    display: flex;
    height: 85px;
    justify-content: space-between;
    margin: 1rem;
    width: 85%;
}

.cabecalho__menu-item {
    justify-content: space-between;
    padding: 1rem;

}

.cabecalho__perfil-item {
    align-items: center;
    display: none;
    width: 80%;
}

.cabecalho__menu-logo {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        margin: 1rem auto 1rem 1rem;
    }

    .cabecalho__menu-logo {
        display: inline-block;
        padding-bottom: 0.7rem;
        width: 9rem;
    }
}