.cabecalho {
    align-items: center;
    display: flex;
    height: 85px;
    justify-content: space-between;
    margin: 15px auto auto auto;
    width: 85%;
}

.cabecalho__menu-item {
    justify-content: space-between;
    padding: 1rem;

}

.cabecalho__perfil-item {
    align-items: center;
    display: none;
    width: 80%;
}