@import url(_reset.css);
@import url(_styles.css);
@import url(botao.css);
@import url(cabecalho.css);
@import url(form-input.css);
@import url(rodape.css);

.form {
    align-items: center;
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* height: calc(100vh - 215px); */
    text-align: center;
}

.body-cadastro {
    background-image: url(../img/Patas.svg), url(../img/Forma\ 1.svg), url(../img/Forma\ 3.svg);
    background-position: 100% 0%, 0% 0%, 0% 75%;
    background-repeat: no-repeat;
}

.form__texto {
    padding-bottom: .5rem;
}