input {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 5%;
    padding: 0 1rem;
}

label {
    margin-top: 1rem;
}

input::placeholder {
    color: var(--cinza);
    font-family: var(--familia-corpo);
    font-size: .8rem;
    text-align: center;
    width: 200px;
}