input {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
    width: 15rem;
    height: 1.8rem;
    padding: 0 1rem;
}


label {
    margin-top: 1rem;
}

input::placeholder {
    color: var(--cinza);
    font-family: var(--familia-corpo);
    font-size: .8rem;
    text-align: center; 
    width: auto;
}

@media screen and (min-width: 768px) {
    input {
        width: 22rem;
    }
}