@import url(_reset.css);
@import url(_styles.css);
@import url(botao.css);
@import url(cabecalho.css);
@import url(form-input.css);
@import url(rodape.css);
@import url();

.body-perfil {
    background-image: url(../img/Forma\ 1.svg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.cabecalho__perfil-item {
    align-items: center;
    display: block;
    border-radius: 50%;
}

.form {
    flex-grow: 1;
}

.form__perfil {
    background-color: var(--cinza-claro);
    border-radius: 5px;
    color: var(--azul);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1rem 1.5rem;
    padding: 1rem 1rem;
}

.form__perfil a {
    margin: 1rem auto 0;
}

.form__avatar {
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
}

.form__input {
    background-color: var(--cinza-claro2);
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem;
    text-align: left;
}

.form__input::placeholder {
    text-align: left;
}

.form__textarea {
    padding: 1rem;
}

.form__textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}

.perfil__texto {
    padding: 2rem 3rem;
    text-align: center;
    font-weight: bold;
}