.rodape {
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    font-weight: 300;
    height: 100px;
    justify-content: center;
    margin-top: 0px;
    padding: 2.9rem 0;
    text-align: center;
    width: 100vw;
}

footer p {
    color: var(--cinza-claro2);
}